/* Estilos para a seção "Endereço" no lado esquerdo */
.address-section {
    background-color: #FAD9E0; /* Cor de fundo rosa claro */
    padding: 30px;
    border: 1px solid #ddd;
    margin-right: 10px; /* Margem à direita para separação do "Resumo do Pedido" */
    width: 600px;
    margin: 100px
  }
  
  /* Estilos para a rua no endereço */
  .address-section label {
    display: block;
    word-wrap: break-word; /* Quebra de linha para ruas longas */
    margin-bottom: 10px;
  }
  
  /* Estilos para a seção "Resumo do Pedido" no lado direito */
  .summary-section {
    background-color: #FAD9E0; /* Cor de fundo rosa claro */
    padding: 20px;
    margin: 90px;
    border: 1px solid #ddd;
    margin-left: 1550px; /* Margem à esquerda para separação do "Endereço" */
    text-align: right; /* Alinhe o texto à direita */
  
  }
  .address-block {
    background-color: #FAD9E0; /* Cor de fundo rosa claro */
    padding: 10px; /* Reduza o preenchimento superior e inferior */
    margin-right: 200px; /* Adicione margem direita para separar os blocos */
    width: 2000px; /* Reduza a largura do bloco */
  }
  
  /* Estilos para o bloco de resumo do pedido (lado direito) */
  .summary-block {
    background-color: #FAD9E0; /* Cor de fundo rosa claro */
    padding: 10px; /* Reduza o preenchimento superior e inferior */
    width: 300px; /* Reduza a largura do bloco */
  }
  
  h1{
    text-align: center;
  }